.idea/
**/*.iml
**/target/*
**/.DS_Store
**/*.project
**/*.settings/
**/*.classpath

**/catalina.base_IS_UNDEFINED/logs/*
**/src/main/webapp/WEB-INF/classes/*.svn
.settings
.classpath
.project
target
classes
output
dist
node_modules
.idea/*
base.iml
bin
pkg
logs